.SingleBirb {
  .single-bird-card {
    border: 10px solid grey;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;

      label {
        font-weight: bold;
      }

      a {
        color: black;
        
      }

      i:hover {
        cursor: pointer;
      }
    }
}